.mid {
    animation: Background-slide 10s linear infinite
}

@keyframes Background-slide {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-1000px, 0);
    }
}
