.fore {
    animation: Foreground-slide 20s -5s linear infinite
}

@keyframes Foreground-slide {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-4000px, 0);
    }
}