.fore {
    animation: Foreground-slide 3s linear infinite
}

@keyframes Foreground-slide {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-400px, 0);
    }
}